

.img {
    position: relative;
    width: calc(20rem + 4vw);
    height: calc(20rem + 4vw);
    margin: 0px 0px 0px 0px;
}

.image {
    border-radius: 110px 0 110px 0;
}

.back {
    background-color: #2e2d2d;
    /* background-color: #D9D9D9; */
    width: 100%;
    
}

.main_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--sponsors-bg);
    margin: 0px 50px;
    color: white;
    padding: 5rem 0rem;
    border: 1px solid var(--brand-green);
    border-radius: 10px 10px 110px 10px;
    position: relative;
    transform: translateY(-12.5%);
    z-index: 1;
}

.wrapper {
    width: 50%;
}

.head {
    max-width: 32ch;
    font-size: 1.5rem;
    line-height: 1.15;
    font-family: var(--brand-head-font);
    padding-block: 2.4rem 2rem;
}

.body {
    padding-right: 10px;
    font-family: var(--brand-body-font);
    margin-bottom: 1.6rem;
}

.spon {
    width: 20rem;
    height: 5rem;
    position: relative;

}

/* .spon1 {
    width: 20rem;
    height: 5rem;
    position: relative;
} */

.spon3 {
    width: 20rem;
    height: 5rem;
    position: relative;

}

.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}



@media (max-width:900px) {
    .main_div {
        transform: translateY(-7.5%);
        flex-direction: column-reverse;
        padding: 4rem 2rem;
    }

    .wrapper {
        width: 100%;
    }

    .img {
        margin-bottom: 2rem;
    }

}

@media (max-width:600px) {
    .main_div {
        transform: translateY(-7.5%);
        margin: 0px calc(1rem + 2vw);
    }

    .img {

        width: calc(17rem + 4vw);
        height: calc(17rem + 4vw);
        margin-bottom: 3rem;
    }

    .wrapper {
        width: 100%;
    }

    .head {
        font-size: 1rem;
        padding-block: 0px 1rem;
    }
    
    .body {
        font-size: 1rem;
    }
}